@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.primary-button {
  color: #3D2300;
  background-color: #F58F29;
  border: 3px solid #F58F29;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.25s;
}
.primary-button:hover, .primary-button:active {
  border-color: #DE6F00;
  background-color: #DE6F00;
}

.secondary-button {
  color: #3D2300;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid #3D2300;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.25s;
}
.secondary-button:hover, .secondary-button:active {
  background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 1199px) {
  body::before {
    height: 4600px !important;
  }
}
@media only screen and (max-width: 991px) {
  body::before {
    height: 10500px !important;
  }
}
@media only screen and (max-width: 767px) {
  body::before {
    height: 9200px !important;
  }
}
@media only screen and (max-width: 530px) {
  body::before {
    height: 9000px !important;
  }
}
@media only screen and (max-width: 500px) {
  body::before {
    height: 9000px !important;
  }
}
@media only screen and (max-width: 470px) {
  body::before {
    height: 8500px !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(236, 236, 236);
}
body main {
  position: relative;
}
body:before {
  background: url("../img/Фон.png") center/cover;
  content: "";
  position: absolute;
  background-size: contain;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.02;
  height: 4800px;
}
body #myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #3D2300;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 40px;
  box-shadow: 0px 4px 8px rgba(114, 97, 74, 0.16);
}
body #myBtn img {
  filter: invert(100%);
  transform: rotate(270deg);
  width: 20px;
}

@media only screen and (max-width: 575px) {
  .container {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}
.section .section-head {
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  color: #3D2300;
  margin: 40px 0;
}
.section .section-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #72614A;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1399px) {
  header .bottom-nav a {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 767px) {
  header .top-nav .company-number,
header .top-nav .order-call-btn {
    display: none;
  }
  header .call-reveal {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  header .top-nav .logo-reveal {
    display: block !important;
  }
  header .top-nav .company-number,
header .top-nav .order-call-btn {
    display: none;
  }
  header .container-fluid {
    justify-content: space-between !important;
  }
  header .container-fluid li.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .container-fluid li.nav-item a {
    display: inline-block;
  }
  header .container-fluid .navbar-brand {
    display: none;
  }
  header .container-fluid .navbar-toggler {
    display: flex;
    font-size: 20px !important;
    line-height: 23px !important;
    letter-spacing: 0.065em !important;
    color: #E3E1DE;
    border: none !important;
  }
  header .container-fluid .navbar-toggler:focus {
    box-shadow: none !important;
  }
  header .container-fluid .navbar-toggler img {
    margin-right: 10px;
  }
  header .container-fluid .call-reveal {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  header .top-nav .company-adress p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 477px) {
  header .top-nav {
    height: 5rem;
  }
  header .top-nav .company-adress p {
    font-size: 10px;
  }
  header .top-nav .company-adress img {
    width: 10px;
  }
  header .top-nav .company-name p {
    font-size: 14px !important;
  }
}
header .top-nav {
  height: 7rem;
  color: #3D2300;
}
header .top-nav .company-name .logo-reveal {
  text-align: center;
  display: none;
}
header .top-nav .company-name .logo-reveal img {
  box-sizing: border-box;
  width: 50px;
}
header .top-nav p {
  font-size: 16px;
}
header .top-nav .company-name p,
header .top-nav .company-number p {
  font-weight: 700;
  font-size: 20px;
}
header .top-nav .working-time,
header .top-nav .company-email {
  margin-top: 5px;
}
header .top-nav .order-call-btn button {
  padding: 6px 12px;
}
header .bottom-nav {
  background-color: #3D2300;
}
header .bottom-nav .call-reveal {
  display: none;
}
header .bottom-nav .call-reveal .company-number {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: #E3E1DE;
  margin-bottom: 6px;
}
header .bottom-nav .call-reveal .company-number p {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .bottom-nav .call-reveal .company-number p img {
  margin-right: 6px;
}
header .bottom-nav .navbar-brand img {
  width: 80px;
  height: 80px;
}
header .bottom-nav a {
  color: #E3E1DE;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.065em;
  margin: 0 1.2rem;
}
header .bottom-nav a:hover {
  color: #F58F29;
}
header .bottom-nav .nav-search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
  padding-left: 35px;
  width: 100%;
  height: 40px;
  background: #E3E1DE;
  border-radius: 8px;
  background: #E3E1DE url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

@media only screen and (max-width: 1399px) {
  footer .footer-menu a {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 991px) {
  footer .footer-contacts {
    font-size: 12px !important;
  }
  footer .footer-call .number {
    font-size: 14px;
  }
  footer .footer-call .call-button button {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  footer .footer-logo .logo img {
    width: 60px;
  }
  footer .footer-menu a {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 767px) {
  footer .bottom-footer {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 450px) {
  footer .footer-menu a {
    font-size: 16px !important;
  }
}
footer {
  background-color: #3D2300;
  color: #E3E1DE;
  display: flex;
  align-items: center;
  padding: 30px 0;
}
footer .bottom-footer {
  color: #E3E1DE;
  margin-top: 40px;
  font-weight: 300;
  font-size: 18px;
}
footer .footer-call {
  text-align: center;
}
footer .footer-call .number {
  margin-bottom: 6px;
}
footer .footer-call button {
  padding: 6px 18px;
}
footer .footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
footer .footer-menu .col-lg-6 {
  display: flex;
  align-items: center;
}
footer .footer-menu a {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.065em;
  color: #E3E1DE;
  text-decoration: none;
}
footer .company-name {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
}
footer .col-lg-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-logo {
  text-align: center;
  margin-bottom: 20px;
}
footer .footer-logo img {
  width: 80px;
}

.materials-section {
  padding-top: 6rem;
  color: #3D2300;
}
.materials-section .left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.materials-section .materials-head {
  font-weight: 900;
  font-size: 30px;
  line-height: 145%;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.materials-section .advantages {
  margin-bottom: 40px;
}
.materials-section .advantages p {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}
.materials-section .advantages p img {
  margin-right: 15px;
}
.materials-section .btns {
  display: flex;
  width: 100%;
}
.materials-section .btns .order-btn,
.materials-section .btns .choose-btn {
  display: flex;
  width: 100%;
}
.materials-section .btns .order-btn button,
.materials-section .btns .choose-btn button {
  font-size: 18px;
  padding: 15px 0;
  width: 100%;
  margin-right: 15px;
}
.materials-section .material-cards .all-cards-cell {
  border: 3px solid #F5F5F5;
  border-radius: 12px;
  background-color: rgb(161, 161, 161);
  text-align: center;
  cursor: pointer;
}
.materials-section .material-cards .all-cards-cell .all-goods-link {
  position: absolute;
  display: block;
  color: #3D2300;
  top: 34%;
  left: 25%;
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
}
.materials-section .material-cards .all-cards {
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 20;
}
.materials-section .material-cards .grid {
  width: 100%;
  height: 100%;
  display: table;
  border-spacing: 20px;
}
.materials-section .material-cards .grid-row {
  display: table-row;
}
.materials-section .material-cards .cell {
  width: 80px;
  height: 80px;
  display: table-cell;
  position: relative;
  transition: all 0.25s;
}
.materials-section .material-cards .cell .cell-link {
  position: absolute;
  z-index: 15;
  font-size: 14px;
  color: #3D2300;
  background-color: #E3E1DE;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  margin: 0px 4px;
  top: 40%;
  padding: 8px 0;
  display: none;
}
.materials-section .material-cards .cell:hover img {
  filter: brightness(60%);
}
.materials-section .material-cards .cell:hover a {
  display: block;
  filter: brightness(100%);
}
.materials-section .material-cards .cell::before {
  content: "";
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  border: 3px solid #F5F5F5;
  border-radius: 8px;
  z-index: 10;
}
.materials-section .material-cards .material-card {
  display: block;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
  border-radius: 12px;
}
.materials-section .material-cards .material-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 3px solid #F5F5F5;
  border-radius: 8px;
  transition: all 0.25s;
}

@media only screen and (max-width: 1199px) {
  .materials-section .all-cards-cell .all-goods-link {
    left: 22% !important;
    font-size: 18px !important;
  }
}
@media only screen and (max-width: 991px) {
  .materials-section .all-cards-cell .all-goods-link {
    left: 30% !important;
    font-size: 24px !important;
  }
}
@media only screen and (max-width: 767px) {
  .materials-section {
    padding-top: 3rem !important;
  }
  .materials-section .all-cards-cell .all-goods-link {
    left: 24% !important;
    font-size: 20px !important;
  }
  .materials-section .materials-head {
    font-size: 20px !important;
  }
  .materials-section button {
    padding: 15px 10px !important;
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 767px) and (max-width: 491px) {
  .materials-section .all-cards-cell .all-goods-link {
    left: 20% !important;
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 1199px) {
  .how-we-work-section .steps .upper-connection-lines .line-up-2 {
    margin-left: 24% !important;
  }
}
@media only screen and (max-width: 991px) {
  .how-we-work-section .steps .step {
    margin-bottom: 30px;
  }
  .how-we-work-section .steps .line {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  .how-we-work-section .steps .step {
    margin-bottom: 30px;
  }
  .how-we-work-section .steps .step .step-top span {
    font-size: 22px !important;
  }
  .how-we-work-section .steps .step .step-head {
    font-size: 18px !important;
  }
  .how-we-work-section .steps .step .step-about {
    font-size: 16px !important;
  }
}
.how-we-work-section {
  background-color: transparent;
}
.how-we-work-section .steps .upper-connection-lines .line-up-1 {
  margin-left: 10%;
}
.how-we-work-section .steps .upper-connection-lines .line-up-2 {
  margin-left: 32%;
}
.how-we-work-section .steps .lower-connection-line .line-down {
  transform: rotate(180deg);
  margin-left: 38%;
}
.how-we-work-section .steps .step {
  color: #3D2300;
  width: 100%;
}
.how-we-work-section .steps .step .step-top {
  display: flex;
}
.how-we-work-section .steps .step .step-top img {
  margin-right: 10px;
}
.how-we-work-section .steps .step .step-top span {
  font-weight: 300;
  font-size: 32px;
}
.how-we-work-section .steps .step .step-head {
  font-weight: 500;
  font-size: 24px;
  margin: 20px 0;
}
.how-we-work-section .steps .step .step-about {
  font-weight: 300;
  color: #72614A !important;
  font-size: 20px;
}

@media only screen and (max-width: 991px) {
  .more-goods-button {
    display: block !important;
  }
  .more-goods-button button {
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
  }
  .goods-pagination {
    display: none;
  }
}
.catalog-section .catalog-body .more-goods-button {
  display: none;
}
.catalog-section .catalog-body .goods-pagination .active-page-link a {
  color: #3D2300 !important;
  border-color: #3D2300;
}
.catalog-section .catalog-body .goods-pagination .arrow {
  background-color: transparent !important;
  border: none !important;
}
.catalog-section .catalog-body .goods-pagination .page-item-dots a {
  font-weight: 700;
  font-size: 20px;
  background-color: transparent !important;
  border: none;
}
.catalog-section .catalog-body .goods-pagination .page-link {
  margin: 6px;
  color: #D3D0CB !important;
  border: 1px solid #D3D0CB;
  border-radius: 4px;
}
.catalog-section .catalog-body .accordion-item {
  margin-bottom: 10px;
}
.catalog-section .catalog-body .accordion-item .accordion-button:focus {
  box-shadow: none !important;
}
.catalog-section .catalog-body .accordion-item .accordion-button:not(.collapsed) {
  color: #212529 !important;
  background-color: #F8F8F8;
}
.catalog-section .catalog-body .goods .goods-card-2 .card-info {
  margin-bottom: 50px !important;
}
.catalog-section .catalog-body .goods .goods-card {
  background-color: #FFFFFF;
  border: 1px solid #D3D0CB;
  box-shadow: 0px 4px 8px rgba(114, 97, 74, 0.16);
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 24px;
  transition: all 0.25s;
  height: auto;
  min-height: 95%;
}
.catalog-section .catalog-body .goods .goods-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.catalog-section .catalog-body .goods .goods-card:hover {
  border: 2px solid #72614A;
}
.catalog-section .catalog-body .goods .goods-card .card-img {
  margin-bottom: 6px;
}
.catalog-section .catalog-body .goods .goods-card .card-img img {
  width: 100%;
}
.catalog-section .catalog-body .goods .goods-card .card-head {
  font-size: 18px;
  color: #3D2300;
  font-weight: 500;
  margin-bottom: 24px;
}
.catalog-section .catalog-body .goods .goods-card .card-info {
  font-size: 13px;
  color: #72614A;
  margin-bottom: 12px;
}
.catalog-section .catalog-body .goods .goods-card .card-price {
  font-weight: 600;
  font-size: 20px;
  color: #3D2300;
  margin-bottom: 12px;
}
.catalog-section .catalog-body .goods .goods-card .card-order-btn {
  margin-bottom: 12px;
}
.catalog-section .catalog-body .goods .goods-card .card-order-btn button {
  width: 100%;
  padding: 8px 0;
  font-weight: 500;
  color: #3D2300;
}
.catalog-section .catalog-body .goods .goods-card .card-more-info {
  text-align: center;
}
.catalog-section .catalog-body .goods .goods-card .card-more-info a {
  font-size: 14px;
  text-decoration-line: underline;
  color: #72614A;
}

.additional-services-section .rental-cards {
  display: flex;
  justify-content: space-between;
}
.additional-services-section .rental-cards img {
  display: inline-block;
  border: 5px solid #F5F5F5;
  border-radius: 16px;
  max-width: 100% !important;
  height: auto;
}

@media only screen and (max-width: 991px) {
  .any-questions-section .questions-box .call-btn {
    display: none;
  }
  .any-questions-section .questions-box .call-btn-reveal {
    display: block !important;
    width: 100%;
  }
  .any-questions-section .questions-box .call-btn-reveal button {
    width: 100%;
    padding: 10px 0;
    margin: 20px 0;
  }
  .any-questions-section .questions-box .online {
    top: 80% !important;
  }
}
@media only screen and (max-width: 767px) {
  .any-questions-section .questions-box .person-image {
    margin-right: 20px !important;
  }
  .any-questions-section .questions-box .person-image img {
    width: 80px !important;
    height: 80px !important;
  }
  .any-questions-section .questions-box .person-image .online {
    width: 16px !important;
    height: 16px !important;
    top: 70% !important;
  }
  .any-questions-section .questions-box .call .call-head {
    font-size: 20px !important;
  }
  .any-questions-section .questions-box .call .call-text {
    font-size: 14px !important;
  }
  .any-questions-section .questions-box .sub-form {
    display: flex;
    flex-direction: column;
  }
  .any-questions-section .questions-box .sub-form .sub-btn {
    width: 100% !important;
    padding-left: 0 !important;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 436px) {
  .any-questions-section .questions-box {
    padding: 40px 20px !important;
  }
  .any-questions-section .questions-box .left-any-quest .online {
    top: 65% !important;
  }
  .any-questions-section .questions-box .left-any-quest .call-head {
    font-size: 18px !important;
  }
  .any-questions-section .questions-box .left-any-quest .call-text {
    font-size: 12px !important;
  }
}
@media only screen and (max-width: 378px) {
  .any-questions-section .questions-box {
    padding: 40px 20px !important;
  }
  .any-questions-section .questions-box .left-any-quest .online {
    top: 55% !important;
  }
  .any-questions-section .questions-box .left-any-quest .call-head {
    font-size: 18px !important;
  }
  .any-questions-section .questions-box .left-any-quest .call-text {
    font-size: 12px !important;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1199px) {
  .any-questions-section .questions-box {
    padding: 40px 20px !important;
  }
  .any-questions-section .questions-box .left-any-quest .online {
    top: 65% !important;
  }
}
.any-questions-section .questions-box {
  background-color: rgb(37, 37, 37);
  border-radius: 16px;
  padding: 40px;
  color: #E3E1DE;
  margin: 90px 0;
}
.any-questions-section .questions-box .left-any-quest {
  display: flex;
}
.any-questions-section .questions-box .person-image {
  position: relative;
  margin-right: 50px;
}
.any-questions-section .questions-box .person-image img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  background-color: #fff;
}
.any-questions-section .questions-box .person-image .online {
  position: absolute;
  background-color: #00d400;
  height: 25px;
  width: 25px;
  top: 70%;
  left: 70%;
  border-radius: 20px;
}
.any-questions-section .questions-box .call-btn-reveal {
  display: none;
}
.any-questions-section .questions-box .call {
  width: 100%;
}
.any-questions-section .questions-box .call .call-head {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  color: #E3E1DE;
  margin-bottom: 15px;
}
.any-questions-section .questions-box .call .call-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.065em;
  margin-bottom: 15px;
}
.any-questions-section .questions-box .call .call-btn button {
  width: 75%;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3D2300;
  padding: 7px 0;
}
.any-questions-section .questions-box .subscription {
  width: 100%;
}
.any-questions-section .questions-box .subscription .sub-head {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.065em;
  color: #E3E1DE;
  margin-bottom: 15px;
}
.any-questions-section .questions-box .subscription .sub-body .sub-form {
  display: flex;
}
.any-questions-section .questions-box .subscription .sub-body .sub-form .sub-input label,
.any-questions-section .questions-box .subscription .sub-body .sub-form .sub-input input {
  display: block;
}
.any-questions-section .questions-box .subscription .sub-body .sub-form .sub-input label {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.065em;
  color: #E3E1DE;
  margin-bottom: 5px;
}
.any-questions-section .questions-box .subscription .sub-body .sub-form .sub-input input {
  width: 100%;
  border: 1px solid #BBBBBB;
  border-radius: 8px;
  background-color: transparent;
  height: 40px;
  color: #E3E1DE;
}
.any-questions-section .questions-box .subscription .sub-body .sub-form .sub-btn {
  display: flex;
  flex-direction: column-reverse;
  padding-left: 20px;
  width: 40%;
}
.any-questions-section .questions-box .subscription .sub-body .sub-form .sub-btn button {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #E3E1DE;
  backdrop-filter: blur(5px);
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #E3E1DE;
  height: 40px;
}

.our-objects-section button {
  width: 100%;
  padding: 10px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #3D2300;
  margin-bottom: 20px;
}
.our-objects-section .object-card {
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #D3D0CB;
  box-shadow: 0px 4px 8px rgba(114, 97, 74, 0.16);
  border-radius: 8px;
  width: 100%;
  padding: 26px;
  margin-bottom: 20px;
}
.our-objects-section .object-card .object-img {
  margin-bottom: 20px;
}
.our-objects-section .object-card .object-img img {
  width: 100%;
  border-radius: 8px;
}
.our-objects-section .object-card .object-head h4 {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #3D2300;
  margin-bottom: 10px;
}
.our-objects-section .object-card .object-info {
  display: flex;
  color: #72614A;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  padding: 30px 0;
}
.our-objects-section .object-card .object-info img {
  align-self: flex-start;
  margin-right: 14px;
}

.contacts-section {
  color: #3D2300;
}
.contacts-section .company-name {
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contacts-section .option {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.065em;
  margin-bottom: 18px;
}
.contacts-section .option span {
  font-weight: 500;
}
.contacts-section .bank-details {
  margin-bottom: 20px;
}
.contacts-section .bank-details a {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #3D2300;
  letter-spacing: 0.065em;
  text-decoration-line: underline;
}
.contacts-section .contacts-map {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  padding-bottom: 100px;
}
.contacts-section .contacts-map iframe {
  width: 100%;
  min-height: 350px;
}/*# sourceMappingURL=style.css.map */