@media only screen and (max-width:1199px) {
    body::before {
        height: 4600px !important;
    }
}

@media only screen and (max-width:991px) {
    body::before {
        height: 10500px !important;
    }
}

@media only screen and (max-width:767px) {
    body::before {
        height: 9200px !important;
    }
}

@media only screen and (max-width:530px) {
    body::before {
        height: 9000px !important;
    }
}

@media only screen and (max-width:500px) {
    body::before {
        height: 9000px !important;
    }
}

@media only screen and (max-width:470px) {
    body::before {
        height: 8500px !important;
    }
}